/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableDefinition2;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 6pt;
	cell-padding-left: 6pt;
	cell-padding-right: 6pt;
	cell-padding-bottom: 4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #fcf7b0;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 3;
	font-family: 'Hypatia Sans Pro Semibold';
	text-align: left;
	font-size: 11pt;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
	name: Body1;
	id: 1;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}


/* Cell Styles: */
 
.TableStyle-TableDefinition2
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-TableDefinition2-Column-Column1
{
	
}

.TableStyle-TableDefinition2-Head-Header1
{
	
}

.TableStyle-TableDefinition2-HeadI-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	text-align: left;
	background-color: #fcf7b0;
}

.TableStyle-TableDefinition2-HeadI-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-HeadE-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	text-align: left;
	background-color: #fcf7b0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition2-HeadE-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-HeadF-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	text-align: left;
	background-color: #fcf7b0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition2-HeadF-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-HeadH-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	text-align: left;
	background-color: #fcf7b0;
}

.TableStyle-TableDefinition2-HeadH-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-HeadD-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	text-align: left;
	background-color: #fcf7b0;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition2-HeadD-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-HeadC-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	text-align: left;
	background-color: #fcf7b0;
}

.TableStyle-TableDefinition2-HeadC-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-HeadB-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	text-align: left;
	background-color: #fcf7b0;
}

.TableStyle-TableDefinition2-HeadB-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-HeadA-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	text-align: left;
	background-color: #fcf7b0;
}

.TableStyle-TableDefinition2-HeadA-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-HeadG-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	text-align: left;
	background-color: #fcf7b0;
}

.TableStyle-TableDefinition2-HeadG-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-FootI-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-FootI-Column1- p
{
	
}

.TableStyle-TableDefinition2-FootE-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-FootE-Column1- p
{
	
}

.TableStyle-TableDefinition2-FootF-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-FootF-Column1- p
{
	
}

.TableStyle-TableDefinition2-FootH-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-FootH-Column1- p
{
	
}

.TableStyle-TableDefinition2-FootD-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableDefinition2-FootD-Column1- p
{
	
}

.TableStyle-TableDefinition2-FootC-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-FootC-Column1- p
{
	
}

.TableStyle-TableDefinition2-FootB-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-FootB-Column1- p
{
	
}

.TableStyle-TableDefinition2-FootA-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableDefinition2-FootA-Column1- p
{
	
}

.TableStyle-TableDefinition2-FootG-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableDefinition2-FootG-Column1- p
{
	
}

.TableStyle-TableDefinition2-Body-Body1
{
	
}

.TableStyle-TableDefinition2-BodyI-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-BodyI-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-BodyE-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-BodyE-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-BodyF-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-BodyF-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-BodyH-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-BodyH-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-BodyD-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition2-BodyD-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-BodyC-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-BodyC-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-BodyB-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-TableDefinition2-BodyB-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-BodyA-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-BodyA-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition2-BodyG-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition2-BodyG-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}


