/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableStyle;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6pt;
	margin-bottom: 6pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-width: 1px;
	border-left-width: 1px;
	cell-padding-top: 6pt;
	cell-padding-left: 6pt;
	cell-padding-right: 6pt;
	cell-padding-bottom: 4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	background-color: #d8e7ff;
	name: Column1;
	id: 0;
}

mcTableColumnStyle
{
	span: 5;
	separator-style: none;
	name: Column2;
	id: 1;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #d8e7ff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 3;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
}

mcTableBodyStyle
{
	separator-style: none;
	name: Body1;
	id: 2;
	font-family: Arial;
	font-size: 10pt;
}


/* Cell Styles: */
 
.TableStyle-TableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6pt;
	margin-bottom: 6pt;
	border-spacing: 0px 0px;
}

.TableStyle-TableStyle-Column-Column1
{
	
}

.TableStyle-TableStyle-Column-Column2
{
	
}

.TableStyle-TableStyle-Head-Header1
{
	
}

.TableStyle-TableStyle-HeadI-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadI-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadE-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableStyle-HeadE-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadF-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableStyle-HeadF-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadH-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadH-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadD-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableStyle-HeadD-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadC-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadC-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadB-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadB-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadA-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadA-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadG-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadG-Column1-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadI-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadI-Column2-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadE-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableStyle-HeadE-Column2-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadF-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableStyle-HeadF-Column2-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadH-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadH-Column2-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadD-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableStyle-HeadD-Column2-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadC-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadC-Column2-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadB-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadB-Column2-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadA-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadA-Column2-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-HeadG-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-HeadG-Column2-Header1 p
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
}

.TableStyle-TableStyle-FootI-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-FootI-Column1- p
{
	
}

.TableStyle-TableStyle-FootE-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableStyle-FootE-Column1- p
{
	
}

.TableStyle-TableStyle-FootF-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-FootF-Column1- p
{
	
}

.TableStyle-TableStyle-FootH-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableStyle-FootH-Column1- p
{
	
}

.TableStyle-TableStyle-FootD-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-FootD-Column1- p
{
	
}

.TableStyle-TableStyle-FootC-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-FootC-Column1- p
{
	
}

.TableStyle-TableStyle-FootB-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableStyle-FootB-Column1- p
{
	
}

.TableStyle-TableStyle-FootA-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-FootA-Column1- p
{
	
}

.TableStyle-TableStyle-FootG-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-FootG-Column1- p
{
	
}

.TableStyle-TableStyle-FootI-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableStyle-FootI-Column2- p
{
	
}

.TableStyle-TableStyle-FootE-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-TableStyle-FootE-Column2- p
{
	
}

.TableStyle-TableStyle-FootF-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableStyle-FootF-Column2- p
{
	
}

.TableStyle-TableStyle-FootH-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-TableStyle-FootH-Column2- p
{
	
}

.TableStyle-TableStyle-FootD-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableStyle-FootD-Column2- p
{
	
}

.TableStyle-TableStyle-FootC-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableStyle-FootC-Column2- p
{
	
}

.TableStyle-TableStyle-FootB-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-TableStyle-FootB-Column2- p
{
	
}

.TableStyle-TableStyle-FootA-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableStyle-FootA-Column2- p
{
	
}

.TableStyle-TableStyle-FootG-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableStyle-FootG-Column2- p
{
	
}

.TableStyle-TableStyle-Body-Body1
{
	
}

.TableStyle-TableStyle-BodyI-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-BodyI-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyE-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-style: none;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableStyle-BodyE-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyF-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-style: none;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-BodyF-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyH-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableStyle-BodyH-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyD-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-style: none;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-BodyD-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyC-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-BodyC-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyB-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableStyle-BodyB-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyA-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-BodyA-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyG-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	background-color: #d8e7ff;
}

.TableStyle-TableStyle-BodyG-Column1-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyI-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyI-Column2-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyE-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TableStyle-BodyE-Column2-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyF-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-style: none;
}

.TableStyle-TableStyle-BodyF-Column2-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyH-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	border-right-style: none;
}

.TableStyle-TableStyle-BodyH-Column2-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyD-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	border-bottom-style: none;
}

.TableStyle-TableStyle-BodyD-Column2-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyC-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyC-Column2-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyB-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
	border-right-style: none;
}

.TableStyle-TableStyle-BodyB-Column2-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyA-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyA-Column2-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyG-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-TableStyle-BodyG-Column2-Body1 p
{
	font-family: Arial;
	font-size: 10pt;
}


