@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

img
{
	border: none;
}

li.ListBullet1
{
	font-family: sans-serif, Arial, 'Arial Unicode MS';
	font-size: 10pt;
	list-style-type: disc;
}

p.Body
{
	font-family: sans-serif, Arial, 'Arial Unicode MS';
	font-size: 10pt;
	color: #000000;
}

p
{
	font-family: sans-serif, Arial;
	font-size: 10pt;
}

h2
{
	font-family: sans-serif, Arial;
	font-size: 12pt;
	color: #00008b;
}

h3
{
	font-weight: bold;
	font-family: Arial;
	font-size: 10pt;
	color: #5b0233;
}

ol
{
	font-family: sans-serif, Arial, 'Arial Unicode MS';
	font-size: 10pt;
}

span.bold
{
	font-weight: bold;
}

span.blue
{
	color: #0000cd;
}

td
{
	font-family: Arial;
	font-size: 10pt;
}

@media print
{
	h1
	{
		font-style: italic;
		color: #696969;
		text-align: right;
	}

	h2
	{
		text-align: right;
		font-style: italic;
	}

	p.Body
	{
		font-family: 'Palatino Linotype';
		font-size: 11pt;
	}

	h3
	{
		font-family: 'Palatino Linotype';
	}

	span.blue
	{
		
	}

	li.ListBullet1
	{
		font-family: 'Palatino Linotype';
		font-size: 11pt;
		list-style-type: disc;
	}

	li
	{
		font-family: 'Palatino Linotype';
		font-size: 11pt;
	}

	p.Body25
	{
		font-family: 'Palatino Linotype';
		font-size: 11pt;
	}

	ol
	{
		font-family: 'Palatino Linotype';
		font-size: 11pt;
	}

	p.TitleAppName
	{
		
	}

	p.TitleBookName
	{
		font-family: EurostileT;
		font-size: 24pt;
		font-style: italic;
		font-weight: bold;
		text-align: right;
	}

	p.Copyright
	{
		text-align: justify;
		font-family: 'Palatino Linotype';
		font-size: 11pt;
	}

	p.UPUInfo
	{
		font-size: 8pt;
		text-align: left;
	}

	a.GlossaryPageTerm:hover
	{
		color: #000000;
		text-decoration: none;
	}

	p.Section
	{
		font-family: 'Palatino Linotype';
		font-size: 48pt;
		text-align: right;
		margin-top: 6cm;
	}
}

h1
{
	font-family: sans-serif, Arial;
	color: #000080;
	font-size: 14pt;
}

ul.ul_1
{
	list-style-type: square;
}

td.tableRows
{
	padding-top: 0pt;
	padding-bottom: 0pt;
	font-family: Arial;
	color: #000000;
	vertical-align: top;
	font-size: 10pt;
}

table.table_1
{
	
}

li
{
	font-family: sans-serif, Arial;
	font-size: 10pt;
}

p.Body25
{
	font-family: Arial, 'Arial Unicode MS';
	font-size: 10pt;
	padding-left: 15px;
	margin-left: 26px;
}

li.ListBullet2
{
	margin-left: 16px;
	list-style-type: square;
	margin-bottom: 2px;
}

th
{
	color: #000080;
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	vertical-align: top;
}

tbody
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
	color: #000000;
	vertical-align: top;
}

table
{
	border-collapse: collapse;
}

p.TableHead
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

li.ListNum
{
	margin-bottom: 6px;
}

p.TableText
{
	font-size: 10pt;
	font-family: sans-serif;
}

MadCap|dropDownHead
{
	font-family: Arial;
	font-size: 10pt;
}

MadCap|relatedTopics
{
	mc-label: 'Related topics';
	font-family: Arial;
	font-size: 10pt;
	background-color: #ffffff;
	color: #00008b;
}

p.TitleBookName
{
	font-size: 18pt;
	font-style: italic;
	font-family: EurostileT;
	font-weight: bold;
}

p.Copyright
{
	
}

p.TitleAppName
{
	font-size: 36pt;
	font-weight: bold;
	font-family: EurostileT;
	font-style: italic;
	text-align: right;
}

p.UPUInfo
{
	font-size: 11pt;
	margin-bottom: 0em;
	margin-top: 3pt;
	text-align: right;
	font-family: Arial;
}

MadCap|conceptLink
{
	mc-image: url(resources:Images/WebHelp/ConceptLink.gif);
	font-family: Arial;
	font-size: 10pt;
	background-color: #ffffff;
	color: #00008b;
	mc-label: 'Show help topics';
}

p.Cash2AcctOrange
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #ffdacc;
}

p.RightAlign
{
	text-align: right;
}

p.CashYellow
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #fffec1;
}

p.Acct2CashBlue
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #d1d2ff;
}

p.GiroGreen
{
	font-family: Arial;
	font-size: 10pt;
	background-color: #d1ffd4;
}

p.Body12
{
	font-family: Arial, 'Arial Unicode MS';
	font-size: 10pt;
	padding-left: 15px;
	margin-left: 13px;
	margin-bottom: 0pt;
}

p.Section
{
	color: #696969;
	font-family: Arial;
	font-size: 24pt;
	font-style: italic;
	text-align: right;
}

MadCap|relatedTopics:hover
{
	color: #191970;
}

MadCap|keywordLink
{
	color: #00008b;
	mc-label: 'More information';
}

MadCap|toggler
{
	color: #00008b;
}

p.Message
{
	font-size: 11pt;
	font-family: monospace;
}

h4
{
	font-weight: bold;
	font-style: normal;
	font-size: 10pt;
	font-family: Arial;
	color: #5c0233;
}

MadCap|xref
{
	mc-format: '{quote}{paratext}{quote}';
}

@media non-print
{
	h1
	{
		font: Roboto;
		font-family: Roboto;
	}

	h2
	{
		font: Roboto;
		font-family: Roboto;
	}

	h3
	{
		font-family: Roboto;
	}

	h4
	{
		font-family: Roboto;
	}

	body
	{
		font-family: Roboto;
	}

	li.ListBullet1
	{
		font-family: Roboto;
	}

	li.ListBullet2
	{
		font-family: Roboto;
	}

	li.ListNum
	{
		font-family: Roboto;
	}

	li::marker
	{
		font-family: Roboto;
	}

	ol
	{
		font-family: Roboto;
	}

	ul.ul_1
	{
		font-family: Roboto;
	}

	p.Acct2CashBlue
	{
		font-family: Roboto;
	}

	p.Body
	{
		font-family: Roboto;
	}

	p.Body12
	{
		font-family: Roboto;
	}

	p.Body25
	{
		font-family: Roboto;
	}

	p.Cash2AcctOrange
	{
		font-family: Roboto;
	}

	p.CashYellow
	{
		font-family: Roboto;
	}

	p.GiroGreen
	{
		font-family: Roboto;
	}

	p.Section
	{
		font-family: Roboto;
	}

	p.TableHead
	{
		font-family: Roboto;
	}

	p.TableText
	{
		font-family: Roboto;
	}

	tbody
	{
		font-family: Roboto;
		font-size: 10pt;
		color: #000000;
		vertical-align: top;
	}

	th
	{
		color: #000080;
		font-family: Roboto;
		font-size: 10pt;
		font-weight: normal;
		vertical-align: top;
	}

	tbody
	{
		font-family: Roboto;
		font-size: 10pt;
		color: #000000;
		vertical-align: top;
	}

	li
	{
		font-family: Roboto;
	}

	td.tableRows
	{
		padding-top: 0pt;
		padding-bottom: 0pt;
		font-family: Roboto;
		color: #000000;
		vertical-align: top;
		font-size: 10pt;
	}

	MadCap|breadcrumbsProxy
	{
		font-size: 12pt;
		border-bottom-color: #000000;
	}
}

