/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TableDefinition1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6pt;
	margin-bottom: 6pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-width: 1px;
	border-left-width: 1px;
	cell-padding-top: 6pt;
	cell-padding-left: 6pt;
	cell-padding-right: 6pt;
	cell-padding-bottom: 4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	background-color: #d8e7ff;
	name: Column1;
	id: 0;
}

mcTableColumnStyle
{
	span: 5;
	separator-style: none;
	name: Column2;
	id: 1;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #d8e7ff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 3;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

mcTableBodyStyle
{
	separator-style: none;
	name: Body1;
	id: 2;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}


/* Cell Styles: */
 
.TableStyle-TableDefinition1
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6pt;
	margin-bottom: 6pt;
	border-spacing: 0px 0px;
}

.TableStyle-TableDefinition1-Column-Column1
{
	
}

.TableStyle-TableDefinition1-Column-Column2
{
	
}

.TableStyle-TableDefinition1-Head-Header1
{
	
}

.TableStyle-TableDefinition1-HeadI-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadI-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadE-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition1-HeadE-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadF-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition1-HeadF-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadH-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadH-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadD-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition1-HeadD-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadC-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadC-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadB-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadB-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadA-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadA-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadG-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadG-Column1-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadI-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadI-Column2-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadE-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition1-HeadE-Column2-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadF-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition1-HeadF-Column2-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadH-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadH-Column2-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadD-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-TableDefinition1-HeadD-Column2-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadC-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadC-Column2-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadB-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadB-Column2-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadA-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadA-Column2-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-HeadG-Column2-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-HeadG-Column2-Header1 p
{
	font-family: 'Hypatia Sans Pro Semibold';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-FootI-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-FootI-Column1- p
{
	
}

.TableStyle-TableDefinition1-FootE-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableDefinition1-FootE-Column1- p
{
	
}

.TableStyle-TableDefinition1-FootF-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-FootF-Column1- p
{
	
}

.TableStyle-TableDefinition1-FootH-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableDefinition1-FootH-Column1- p
{
	
}

.TableStyle-TableDefinition1-FootD-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-FootD-Column1- p
{
	
}

.TableStyle-TableDefinition1-FootC-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-FootC-Column1- p
{
	
}

.TableStyle-TableDefinition1-FootB-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableDefinition1-FootB-Column1- p
{
	
}

.TableStyle-TableDefinition1-FootA-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-FootA-Column1- p
{
	
}

.TableStyle-TableDefinition1-FootG-Column1-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-FootG-Column1- p
{
	
}

.TableStyle-TableDefinition1-FootI-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableDefinition1-FootI-Column2- p
{
	
}

.TableStyle-TableDefinition1-FootE-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-TableDefinition1-FootE-Column2- p
{
	
}

.TableStyle-TableDefinition1-FootF-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableDefinition1-FootF-Column2- p
{
	
}

.TableStyle-TableDefinition1-FootH-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-TableDefinition1-FootH-Column2- p
{
	
}

.TableStyle-TableDefinition1-FootD-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableDefinition1-FootD-Column2- p
{
	
}

.TableStyle-TableDefinition1-FootC-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableDefinition1-FootC-Column2- p
{
	
}

.TableStyle-TableDefinition1-FootB-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-TableDefinition1-FootB-Column2- p
{
	
}

.TableStyle-TableDefinition1-FootA-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableDefinition1-FootA-Column2- p
{
	
}

.TableStyle-TableDefinition1-FootG-Column2-
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-TableDefinition1-FootG-Column2- p
{
	
}

.TableStyle-TableDefinition1-Body-Body1
{
	
}

.TableStyle-TableDefinition1-BodyI-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyI-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyE-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-style: none;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyE-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyF-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-style: none;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyF-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyH-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyH-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyD-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-style: none;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyD-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyC-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyC-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyB-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyB-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyA-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyA-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyG-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyG-Column1-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyI-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyI-Column2-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyE-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyE-Column2-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyF-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-style: none;
}

.TableStyle-TableDefinition1-BodyF-Column2-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyH-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyH-Column2-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyD-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-bottom-style: none;
}

.TableStyle-TableDefinition1-BodyD-Column2-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyC-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyC-Column2-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyB-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyB-Column2-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyA-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyA-Column2-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyG-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

.TableStyle-TableDefinition1-BodyG-Column2-Body1 p
{
	font-family: 'Palatino Linotype';
	font-size: 11pt;
}

@media non-print

.TableStyle-TableDefinition1-Body-Body1
{
	
}

.TableStyle-TableDefinition1-BodyI-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyI-Column1-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyE-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	border-bottom-style: none;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyE-Column1-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyF-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	border-bottom-style: none;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyF-Column1-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyH-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyH-Column1-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyD-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	border-bottom-style: none;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyD-Column1-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyC-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyC-Column1-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyB-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	background-color: #d8e7ff;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyB-Column1-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyA-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyA-Column1-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyG-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	background-color: #d8e7ff;
}

.TableStyle-TableDefinition1-BodyG-Column1-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyI-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyI-Column2-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyE-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyE-Column2-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyF-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	border-bottom-style: none;
}

.TableStyle-TableDefinition1-BodyF-Column2-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyH-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyH-Column2-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyD-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	border-bottom-style: none;
}

.TableStyle-TableDefinition1-BodyD-Column2-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyC-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyC-Column2-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyB-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
	border-right-style: none;
}

.TableStyle-TableDefinition1-BodyB-Column2-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyA-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyA-Column2-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyG-Column2-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	font-family: 'Roboto';
	font-size: 10pt;
}

.TableStyle-TableDefinition1-BodyG-Column2-Body1 p
{
	font-family: 'Roboto';
	font-size: 10pt;
}

